header {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-banner {
    background-color: #334156;
    color: white;
    text-align: center;
    padding: 8px 10px;
    font-size: 13px;
 a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 74px;
    width: 100%;
    max-width: 1350px;
}

.logo {
    display: flex;
    align-items: center;
    width: 32%;
@media screen and  (max-width: 1068px) and (min-width: 768px) {
    width: 130px;
}


 img {
    width: 150px;
}
}


.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: calc(100% - 32%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and  (max-width: 1068px) and (min-width: 768px) {
        width: calc(100% - 160px);
    }
}

.nav-links li {
    margin: 0 15px;
    @media screen and  (max-width: 1068px) and (min-width: 768px) {
        margin: 0 8px;
    }
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
}

.nav-links img {
    width: 24px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.menu-icon .close-icon {
    display: none;
}

@media screen and (max-width: 768px) {

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #000000;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }
}
